<div class="uk-grid-medium uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card > .uk-card-body">
    {{#each monuments}}
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container">
                <img src="{{image}}" class="uk-responsive-height uk-responsive-width" uk-cover alt="">
                <canvas width="390" height="250"></canvas>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{title}}</h3>
                <p>{{description}}</p>
            </div>
            <div class="uk-card-footer">
                <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                    <a href="#delete-monument-modal" uk-toggle class="deleteMonumentButton"><span
                            class="uk-margin-small-right uk-align-left" uk-icon="trash" style="color: red"></span> </a>
                    <a href="editMonumentView/{{_id}}" class="uk-button uk-button-text">Edit</a>
                    <a href="editMonumentView/{{_id}}" class="editMonumentButton"><span
                            class="uk-margin-small-right uk-align-right" uk-icon="pencil" style="color: blue"></span>
                    </a>


                </div>

            </div>

        </div>
    </div>
    {{/each}}

    <!-- This is the modal -->
    <div id="delete-monument-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Delete Monument</h2>
            <p id="deleteWarningMessage"></p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>

                <button class="uk-button uk-button-danger" type="submit" id="deleteButton"
                    formmethod="post">Delete</button>


            </p>
        </div>
    </div>

    <form id="triggerSubmit" style="display:none">

    </form>


</div>

<script>
    const deleteMonumentButtons = document.getElementsByClassName('deleteMonumentButton')
    const deleteButtonModal = document.getElementById('deleteButton')
    const deleteWarningMessage = document.getElementById('deleteWarningMessage');
    console.log(deleteMonumentButtons)

    for (let button of deleteMonumentButtons) {

        function deleteRecord(id) {
            const response = fetch(`/deleteMonument/${id}`, {
                method: 'post',
                body: {

                }
            });
        }

        console.log(button)
        button.addEventListener('click', (e) => {
            let titleText = e.path[5].children[1].children[0].innerText;


            let stringPosition = e.path[4].children[0].children[2].href.search('editMonumentView/')

            let recordId = e.path[4].children[0].children[2].href.substring(stringPosition + 17)
            deleteButton.setAttribute('href', `deleteMonument/${recordId}`);
            deleteWarningMessage.textContent = `Are you sure you want to delete the '${titleText}' record?`


            deleteButtonModal.addEventListener('click', () => {
                deleteRecord(recordId)
                document.getElementById('triggerSubmit').submit()
            })





        })
    }

</script>