<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    <div class="uk-padding-small uk-first-column">
        <a href='#' uk-toggle="target: #offcanvas-nav">
            <i class="fas fa-bars fa-2x" title="Index of all monuments" pos="bottom" uk-tooltip></i>
        </a>
    </div>
    {{> title-card title="Monument" subTitle="Monuments added so far"}}
    {{> main-menu }}
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close uk-icon uk-close" type="button" uk-close>

        </button>

        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">

            <li class="uk-parent">
                <a href="#" uk-toggle="target: .toggle-display-munster">Munster</a>
                <ul class="uk-nav-sub toggle-display-munster" hidden>
                    {{#if munsterMonuments}}
                    {{#each munsterMonuments}}
                    <li><a href="/viewMonument/{{_id}}">{{title}}</a></li>
                    {{/each}}
                    {{else}}
                    <li>No Munster monuments have been added yet.</li>
                    {{/if}}

                </ul>
            </li>

        </ul>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">

            <li class="uk-parent">
                <a href="#" uk-toggle="target: .toggle-display-leinster">Leinster</a>
                <ul class="uk-nav-sub toggle-display-leinster" hidden>
                    {{#if leinsterMonuments}}
                    {{#each leinsterMonuments}}
                    <li><a href="/viewMonument/{{_id}}">{{title}}</a></li>
                    {{/each}}
                    {{else}}
                    <li>No Leinster monuments have been added yet.</li>
                    {{/if}}
                </ul>
            </li>

        </ul>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">

            <li class="uk-parent">
                <a href="#" uk-toggle="target: .toggle-display-connacht">Connacht</a>
                <ul class="uk-nav-sub toggle-display-connacht" hidden>
                    {{#if connachtMonuments}}
                    {{#each connachtMonuments}}
                    <li><a href="/viewMonument/{{_id}}">{{title}}</a></li>
                    {{/each}}
                    {{else}}
                    <li>No Connacht monuments have been added yet.</li>
                    {{/if}}
                </ul>
            </li>

        </ul>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">

            <li class="uk-parent">
                <a href="#" uk-toggle="target: .toggle-display-ulster">Ulster</a>
                <ul class="uk-nav-sub toggle-display-ulster" hidden>
                    {{#if ulsterMonuments}}
                    {{#each ulsterMonuments}}
                    <li><a href="/viewMonument/{{_id}}">{{title}}</a></li>
                    {{/each}}
                    {{else}}
                    <li>No Ulster monuments have been added yet.</li>
                    {{/if}}
                </ul>
            </li>

        </ul>


    </div>
</div>








<div class="uk-container uk-margin">
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading">Monuments Added To Date</h1>
        </div>
        <div class="uk-width-auto@m">
            <button class="uk-button uk-button-default">Filter</button>
            <div uk-dropdown="mode: click">

                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">County</legend>

                    <div class="uk-margin">
                        <form id="filterCountyForm" action="/getCountyMonuments" method="GET" style="display:inline">
                            <select class="uk-select" id="countySelectField">
                                <option value="" disabled selected>Select County</option>
                                <option>Cork</option>
                                <option>Kerry</option>
                            </select>
                            <button class="uk-button uk-button-primary uk-margin-top" type="submit" formmethod="get"
                                id="confirmationDeleteAccountButton">Filter by county</button>

                        </form>
                    </div>

                    <legend class="uk-legend">Title</legend>

                    <div class="uk-margin">
                        <select class="uk-select">
                            <option>Option 01</option>
                            <option>Option 02</option>
                        </select>
                    </div>








                </fieldset>

            </div>
        </div>
        <div class="uk-width-auto@m">
            <div class="uk-margin">
                <form class="uk-search uk-search-default uk-width-1-1">
                    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                    <input class="uk-search-input" type="search" placeholder="Search">
                </form>
            </div>
        </div>


    </div>



    <div class="uk-divider-icon"></div>
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            {{> monument-list }}

        </div>
    </div>
</div>

<form id="filterByCountyTrigger" style="display:none">

</form>



<script>
    let countySelectField = document.getElementById('countySelectField');
    let county = "{{county}}"

    let filterCountyForm = document.getElementById('filterCountyForm')


    function getCountyMonuments(county) {
        const response = fetch(`/getCountyMonuments/${county}`, {
            method: 'get'
        });
    }

    countySelectField.addEventListener('change', (e) => {
        //getCountyMonuments(e.target.value)
        county = e.target.value
        console.log(filterCountyForm.action)
        filterCountyForm.action = `/getCountyMonuments/${county}`
        //document.getElementById('filterByCountyTrigger').submit()
        //console.log(e.target.value)
        console.log(filterCountyForm)
    })


    document.addEventListener('click', (e) => {
        if (e.path[1].textContent.includes('Munster') || e.path[1].textContent.includes('Connacht') || e.path[1].textContent.includes('Leinster') || e.path[1].textContent.includes('Ulster')) {


            if (!e.path[1].className.includes('uk-open')) {
                e.path[1].classList.add('uk-open')
            }
            else {
                e.path[1].classList.remove('uk-open')
            }
        }

    })
</script>